<div class="sidebar-header">
  <h2>SRDE</h2>
  <div class="menu-toggle">
    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828859.png" alt="Menú">
  </div>
</div>

<div class="sidebar-content">
  <ul>
    <li><a href="inicio.html">Inicio</a></li>
    <li><a href="eventos.html">Eventos</a></li>
    <li><a href="equipos.html">Equipos</a></li>
    <li><a href="usuarios.html">Usuarios</a></li>

    <li class="submenu-toggle active">
      <a href="#">Registro ▾</a>
      <ul class="submenu">
        <li><a href="registroUsuario.html">Registrar Usuario</a></li>
        <li><a href="registro.html">Registrar Evento</a></li>
        <li><a href="registroModalidad.html">Registrar Modalidad</a></li>
        <li><a href="formularioEquipos.html">Registrar Equipo</a></li>
      </ul>
    </li>
    <li><a href="reportes.html">Reportes</a></li>
    <li><a href="bitacora.html">Bitácora</a></li>
  </ul>
</div>
