<aside class="sidebar">
    <div class="sidebar-header">
      <h2>Mi Cuenta</h2>
      <div class="menu-toggle">
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828859.png" alt="Menú">
      </div>
    </div>
    <div class="sidebar-content">
      <ul>
        <li><a id="miBoton" href="#">Test</a></li>
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="#">Registro</a></li>
        <li><a href="equipos.html">Equipos</a></li>
        <li><a href="usuarios.html">Usuarios</a></li>
        <li><a href="#">Bitácora</a></li>
        <li><a href="">Reportes</a></li>
        <li><a id="cerrarSesionBtn" href="#">Cerrar Sesión</a></li>
      </ul>
    </div>
  </aside>

